<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.stupacki.sample.app.dashboard">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:split="@string/dynamic_feature_name_dashboard"
        dist:title="@string/dynamic_feature_name_dashboard">
        <dist:fusing dist:include="true" />
    </dist:module>

</manifest>
