<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.stupacki.sample.app.dashboard">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="Dashboard">
        <dist:fusing dist:include="true" />
    </dist:module>

</manifest>
