<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stupacki.sample.app.navigation">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">

        <activity android:name=".main.view.MainNavigationActivity" />

    </application>
</manifest>
